<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHIM73bscz1advRsJbO__rnxR4PEwf0w8</string>
	<key>GCM_SENDER_ID</key>
	<string>917601657897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pussPuss</string>
	<key>PROJECT_ID</key>
	<string>pusspuss-36652</string>
	<key>STORAGE_BUCKET</key>
	<string>pusspuss-36652.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917601657897:ios:a0b01e4bdf34acd19fe838</string>
</dict>
</plist>